{% extends "base.html" %}

{% block title %}トップページ{% endblock %}
{% block content %}
<h1 class="heading">トップページ</h1>
<div class="table-of-contents">
    <div>リンク</div>
    <ol>
        <li><a href="{% url 'list' %}">全コード一覧</a></li>
        <li>カテゴリー</li>
            <ol>
                {% for category in category_list %}
                <li><a href="{% url 'category' category %}">{{ category.name }}</a></li>
                {% endfor %}
            </ol>
        {% if user.is_authenticated %}
        <li><a href="{% url 'favorite' %}">お気に入り</a></li>
        {% endif %}
    </ol>
</div> 
<br>
<div style="clear: both;">
    <h4>タグ</h4>
    <div>
        {% for tag in tags %}
            <a href="{% url 'tag' tag.name %}">
                {{ tag.name }}
            </a>
            {% empty %}
                <p>タグがありません。</p>
        {% endfor %}
    </div>
</div>
{% endblock %}